[Desktop Entry]
Name=QuakeForge
Comment=Quakeforge client
Comment[pl]=Klient Quakeforge
Exec=qf-client-sdl
Terminal=0
Type=Application
Icon=quakeforge.png
